<main class="index-content">
  <h1 class="text-center mt-2 mb-3">Resources</h1>

  <ul class="resource-list">
    <li class="resource-item">
      {{link-to "airlines" "airlines" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "airports" "airports" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "flights" "flights" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "instances" "instances" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "itineraries" "itineraries" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "planes" "planes" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "seats" "seats" class="resource-link"}}
    </li>
    <li class="resource-item">
      {{link-to "tickets" "tickets" class="resource-link"}}
    </li>
  </ul>
</main>