{{#if isInCreateMode}}
  {{airline/create-form record
    onSave=(action "saveButtonWasPressed")
    onCancel=(action "cancelButtonWasPressed")
  }}

{{else if isInUpdateMode}}
  {{airline/update-form record
    onSave=(action "saveButtonWasPressed")
    onCancel=(action "cancelButtonWasPressed")
  }}

{{else if isInReadMode}}
  <table class="record-table">
    <tbody>
      <tr class="record-field">
        <td class="record-key">id:</td>
        <td class="record-value">{{record.id}}</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">name:</td>
        <td class="record-value">"{{record.name}}"</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">logo_url:</td>
        <td class="record-value">"{{record.logo_url}}"</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">info:</td>
        <td class="record-value">"{{record.info}}"</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">user_id:</td>
        <td class="record-value">{{record.user_id}}</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">created_at:</td>
        <td class="record-value">"{{record.created_at}}"</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">updated_at:</td>
        <td class="record-value">"{{record.updated_at}}"</td>
      </tr>
    </tbody>
  </table>

  <p class="record-controls mt-3">
    <button type="button" class="btn btn-primary" {{action "editButtonWasPressed"}}>
      <i class="far fa-edit"></i>&nbsp; Edit
    </button>

    <button type="button" class="btn btn-danger" {{action "deleteButtonWasPressed"}}>
      <i class="fas fa-times"></i>&nbsp; Delete
    </button>
  </p>
{{/if}}