<table class="record-table">
  <tbody>
    {{#unless record.isNew}}
      <tr class="record-field">
        <td class="record-key">id:</td>
        <td class="record-value">{{record.id}}</td>
      </tr>
    {{/unless}}
    <tr class="record-field">
      <td class="record-key">first_name:</td>
      <td class="record-value">
        {{input value=record.first_name class="form-control"}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">middle_name:</td>
      <td class="record-value">
        {{input value=record.middle_name class="form-control"}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">last_name:</td>
      <td class="record-value">
        {{input value=record.last_name class="form-control"}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">age:</td>
      <td class="record-value form-inline">
        {{input type="number" value=record.age class="form-control"}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">gender:</td>
      <td class="record-value">
        {{input value=record.gender class="form-control"}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">is_purchased:</td>
      <td class="record-value">
        <div class="form-check">
          {{#radio-button value=true groupValue=record.is_purchased}}
            true
          {{/radio-button}}
        </div>
        <div class="form-check">
          {{#radio-button value=false groupValue=record.is_purchased}}
            false
          {{/radio-button}}
        </div>
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">price_paid:</td>
      <td class="record-value">
        {{input value=record.price_paid class="form-control"}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">instance_id:</td>
      <td class="record-value form-inline">
        {{#x-select value=record.instance_id on-change=(action (mut record.instance_id)) class="form-control" as |xs|}}
          {{#xs.option value=null}}none selected{{/xs.option}}
          {{#each instances as |p|}}
            {{#xs.option value=p.intid}}{{p.flight.number}} {{p.date}} (id: {{p.id}}){{/xs.option}}
          {{/each}}
        {{/x-select}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">itinerary_id:</td>
      <td class="record-value form-inline">
        {{#x-select value=record.itinerary_id on-change=(action (mut record.itinerary_id)) class="form-control" as |xs|}}
          {{#xs.option value=null}}none selected{{/xs.option}}
          {{#each itineraries as |p|}}
            {{#xs.option value=p.intid}}{{p.email}} (id: {{p.id}}){{/xs.option}}
          {{/each}}
        {{/x-select}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">seat_id:</td>
      <td class="record-value form-inline">
        {{#x-select value=record.seat_id on-change=(action (mut record.seat_id)) class="form-control" as |xs|}}
          {{#xs.option value=null}}none selected{{/xs.option}}
          {{#each seats as |p|}}
            {{#xs.option value=p.intid}}{{p.row}}{{p.number}} (id: {{p.id}}){{/xs.option}}
          {{/each}}
        {{/x-select}}
      </td>
    </tr>
    <tr class="record-field">
      <td class="record-key">info:</td>
      <td class="record-value">
        {{textarea class="form-control" value=record.info}}
      </td>
    </tr>
    {{#unless record.isNew}}
      <tr class="record-field">
        <td class="record-key">user_id:</td>
        <td class="record-value">{{record.user_id}}</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">created_at:</td>
        <td class="record-value">"{{record.created_at}}"</td>
      </tr>
      <tr class="record-field">
        <td class="record-key">updated_at:</td>
        <td class="record-value">"{{record.updated_at}}"</td>
      </tr>
    {{/unless}}
  </tbody>
</table>

<p class="record-controls mt-3">
  <button type="button" class="btn btn-info" {{action "saveButtonWasPressed"}}>
    <i class="far fa-save"></i>&nbsp; Save
  </button>

  <button type="button" class="btn btn-secondary" {{action "cancelButtonWasPressed"}}>
    <i class="fas fa-times"></i>&nbsp; Cancel
  </button>
</p>