<p class="record-field">
  <span class="record-field-key">id:</span>
  <span class="record-field-value">{{record.id}}</span>
</p>
<p class="record-field">
  <span class="record-field-key">name:</span>
  <span class="record-field-value">
    {{input class="form-control" value=record.name}}
  </span>
</p>
<p class="record-field">
  <span class="record-field-key">logo_url:</span>
  <span class="record-field-value">
    {{input class="form-control" value=record.logo_url}}
  </span>
</p>
<p class="record-field">
  <span class="record-field-key">info:</span>
  <span class="record-field-value">
    {{textarea class="form-control" value=record.info}}
  </span>
</p>
<p class="record-field">
  <span class="record-field-key">user_id:</span>
  <span class="record-field-value">{{record.user_id}}</span>
</p>
<p class="record-field">
  <span class="record-field-key">created_at:</span>
  <span class="record-field-value">"{{record.created_at}}"</span>
</p>
<p class="record-field">
  <span class="record-field-key">updated_at:</span>
  <span class="record-field-value">"{{record.updated_at}}"</span>
</p>
<p class="record-controls mt-3">
  <button type="button" class="btn btn-info" {{action "saveButtonWasPressed"}}>
    <i class="far fa-save"></i>&nbsp; Save
  </button>

  <button type="button" class="btn btn-secondary" {{action "cancelButtonWasPressed"}}>
    <i class="fas fa-times"></i>&nbsp; Cancel
  </button>
</p>